body {
  margin: 0;
  width: 80%;
  margin: auto;
}

button {
  /* padding: 2.5px 5px; */
  background-color: blanchedalmond;
  border: 1px solid blanchedalmond;
  padding: 4px 6px;
}

input {
  border: 1px solid #dedede;
}

input,
button {
  border-radius: 2.5px;
}

.new-todo-container {
  display: flex;
}
