.todo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #dedede;
  width: 80vw;
  margin: auto;
  padding: 8px 0px;
}

.todo-edit {
  flex-basis: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-edit-button {
  margin: 0px 8px;
  background-color: blanchedalmond;
  border-color: blanchedalmond;
}

.todo-preview {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.todo-preview > input,
select {
  margin: 0px 10px;
}
.todo-edit-input {
  width: auto;
}

.todo-edit-input:focus {
  outline: none;
}

.no-todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.no-todo-container > img {
  width: 60%;
}

.filter-container {
  display: flex;
  margin: 1rem 0px;
}

.filter-container > div {
  padding: 0.3rem 0.5rem;
  text-transform: uppercase;
  font-weight: medium;
  font-size: 1rem;
  cursor: pointer;
}
.selected-filter {
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: bisque;
  background-color: bisque;
}

.filter-not-selected {
  color: darkgray;
}
